<div class="modal fade" id="modal-egresado-eliminar-{{ egresado.id }}" tabindex="-1" class="text-dark">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger"><i class="bi bi-exclamation-triangle"></i> Esta acción no se puede deshacer.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="fs-5">
                    Estás a punto de eliminar el registro de <strong>{{ egresado.nombre }} {{ egresado.apellidos }}</strong>
                    con matricula <strong>{{ egresado.matricula }}</strong>,
                    de la base de datos.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-egresado-{{ egresado.id }}"><i class="bi bi-arrow-90deg-left"></i> Cancelar</button>
                <a href="{{ url_for('egresados_delete', id=egresado.id) }}" class="btn btn-danger">
                    ELIMINAR
                </a>
            </div>
        </div>
    </div>
</div>