<div class="col-lg-6">
    <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registrar-modalidad-modal"><i class="bi bi-plus-circle"></i> Registrar modalidad</button>
    </div>
    {% include 'modalidades/modalidades-table.html' %}
    <div class="modal fade" id="registrar-modalidad-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar modalidad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'modalidades/modalidad-form.html' %}
                </div>
            </div>
        </div>
    </div>
</div>