<strong>Panel de administración.</strong>
<div class="nav nav-pills mt-3">
    <li class="nav-item">
        <a href="{{ url_for('admin_unidades') }}" class="nav-link {% if active=='unidades' %} active {% endif %}">Unidades</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('admin_carreras') }}" class="nav-link {% if active=='carreras' %} active {% endif %}">Carreras</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('modalidades') }}" class="nav-link {% if active=='modalidades' %} active {% endif %}">Modalidades</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('admin_usuarios') }}" class="nav-link {% if active=='usuarios' %} active {% endif %}">Usuarios</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('admin_database') }}" class="nav-link {% if active=='database' %} active {% endif %}">Base de datos</a>
    </li>
</div>