<form action="{{ url_for('egresados_update', id=egresado.id) }}" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <span class="input-group-text">Nombre</span>
        <input type="text" name="nombre" class="form-control" placeholder="{{ egresado.nombre }}">
        <span class="input-group-text">Apellidos</span>
        <input type="text" name="apellidos" class="form-control" placeholder="{{ egresado.apellidos }}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Matricula</span>
        <input type="text" name="matricula" class="form-control" placeholder="{{ egresado.matricula }}">
        <span class="input-group-text">Domicilio</span>
        <input type="text" name="domicilio" class="form-control" placeholder="{{ egresado.domicilio }}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">CURP</span>
        <input type="text" name="curp" class="form-control" placeholder="{{ egresado.curp }}">
        <span class="input-group-text">Telefono</span>
        <input type="text" name="telefono" class="form-control" placeholder="{{ egresado.telefono }}">
        <span class="input-group-text">Correo</span>
        <input type="text" name="correo" class="form-control" placeholder="{{ egresado.correo }}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Sexo</span>
        <select name="sexo" class="form-select">
            <option value="0" {% if egresado.sexo == '0' %} selected {% endif %}>Hombre</option>
            <option value="1" {% if egresado.sexo == '1' %} selected {% endif %}>Mujer</option>
        </select>
        <span class="input-group-text">Estatus</span>
        <select name="estatus" class="form-select" id="egresado-estatus-update-{{ egresado.id }}" onchange="onEgresadoEstatusChanged('update-{{ egresado.id }}')">
            <option value="0" {% if egresado.estatus == 0 %} selected {% endif %}>Pendiente</option>
            <option value="1" {% if egresado.estatus == 1 %} selected {% endif %}>Seguimiento</option>
            <option value="2" {% if egresado.estatus == 2 %} selected {% endif %}>No titulado</option>
            <option value="3" {% if egresado.estatus == 3 %} selected {% endif %}>Titulado</option>
        </select>
    </div>
    <div id="titulacion-container-update-{{ egresado.id }}" {% if egresado.estatus == 0 or egresado.estatus == 2 %} style="display: none;" {% endif %}>
        <h5>Datos de titulacion</h5>
        <div class="input-group mt-3 mb-3">
            <span class="input-group-text">Fecha de titulacion</span>
            <input type="date" name="titulacion-fecha" class="form-control" value="{{ egresado.titulacion_fecha }}">
        </div>
        <label>Composicion del jurado</label>
        <hr>
        <div class="input-group mb-4">
            <span class="input-group-text w-25">Presidente</span>
            <input type="text" name="titulacion-presidente-nombre" class="form-control" placeholder="{{ egresado.titulacion_presidente_nombre }}">
            <input type="text" name="titulacion-presidente-cedula" class="form-control" placeholder="{{ egresado.titulacion_presidente_cedula }}">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text w-25">Secretario</span>
            <input type="text" name="titulacion-secretario-nombre" class="form-control" placeholder="{{ egresado.titulacion_secretario_nombre }}">
            <input type="text" name="titulacion-secretario-cedula" class="form-control" placeholder="{{ egresado.titulacion_secretario_cedula }}">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text w-25">Vocal</span>
            <input type="text" name="titulacion-vocal-nombre" class="form-control" placeholder="{{ egresado.titulacion_vocal_nombre }}">
            <input type="text" name="titulacion-vocal-cedula" class="form-control" placeholder="{{ egresado.titulacion_vocal_cedula }}">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text w-25">Suplente</span>
            <input type="text" name="titulacion-suplente-nombre" class="form-control" placeholder="{{ egresado.titulacion_suplente_nombre }}">
            <input type="text" name="titulacion-suplente-cedula" class="form-control" placeholder="{{ egresado.titulacion_suplente_cedula }}">
        </div>
        <hr>
        <label>Composicion del comite de titulacion</label>
        <hr>
        <div class="input-group mb-4">
            <span class="input-group-text w-25">Presidente</span>
            <input type="text" name="comite-presidente-nombre" class="form-control" placeholder="{{ egresado.comite_presidente_nombre }}">
            <input type="text" name="comite-presidente-cedula" class="form-control" placeholder="{{ egresado.comite_presidente_cedula }}">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text w-25">Secretario</span>
            <input type="text" name="comite-secretario-nombre" class="form-control" placeholder="{{ egresado.comite_secretario_nombre }}">
            <input type="text" name="comite-secretario-cedula" class="form-control" placeholder="{{ egresado.comite_secretario_cedula }}">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text w-25">Vocal</span>
            <input type="text" name="comite-vocal-nombre" class="form-control" placeholder="{{ egresado.comite_vocal_nombre }}">
            <input type="text" name="comite-vocal-cedula" class="form-control" placeholder="{{ egresado.comite_vocal_cedula }}">
        </div>
        <hr>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Generacion</span>
        <select name="generacion_id" class="form-select">
            {% for generacion in generaciones %}
                <option value="{{ generacion.id }}" {% if egresado.generacion.id == generacion.id %} selected {% endif %}>{{ generacion.anio_inicio }} - {{ generacion.anio_final }}</option>
            {% endfor %}
        </select>
        <span class="input-group-text">Modalidad</span>
        <select name="modalidad_id" class="form-select">
            {% for modalidad in modalidades %}
                <option value="{{ modalidad.id }}" {% if egresado.modalidad.id == modalidad.id %} selected {% endif %}>{{ modalidad.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3" id="proyecto-escrito-container-update-{{ egresado.id }}" {% if egresado.estatus == 0 or egresado.estatus == 2 %} style="display: none;" {% endif %}>
        <label for="proyecto-escrito-titulo">Titulo del proyecto escrito</label>
        <input class="form-control" type="text" name="proyecto-escrito-titulo" id="proyecto-escrito-titulo" placeholder="{{ egresado.proyecto_escrito_titulo }}">
    </div>
    <div class="mb-3">
        <label for="foto">Fotografia</label>
        <input class="form-control" type="file" name="foto">
    </div>
    <div class="mb-3">
        <label for="comentarios">Comentarios</label>
        <textarea name="comentarios" rows="3" class="form-control" style="resize: none;">{{ egresado.comentarios }}</textarea>
    </div>
    <div class="row mt-3 justify-content-end">
        <div class="col-md-auto">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-egresado-{{ egresado.id }}"><i class="bi bi-arrow-90deg-left"></i> Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar <i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
</form>