<div class="container-fluid page-footer">
  <div class="row justify-content-center d-print-none mt-5">
    <div class="col-md-3 mt-5 mb-5">
      <p>S I G E T</p>
      <hr>
      <p class="text-muted">Sistema Integral de Gestión de Egresados y Titulados</p>
      <small class="text-muted"><i class="bi bi-c-circle"></i> 2023 Unidad de Estudios Superiores San José del Rincón</small>
    </div>
    <div class="col-md-3 mt-5 mb-5">
      <p>C O N T A C T O</p>
      <hr>
      <small class="text-muted">
        <i class="bi bi-geo-alt-fill"></i>
        <a href="https://www.google.com/maps/place/Unidad+de+Estudios+Superiores,+San+Jos%C3%A9+del+Rinc%C3%B3n/@19.6665572,-100.1475816,17z/data=!3m1!4b1!4m5!3m4!1s0x85d2eccbc758302b:0x6277bfbed3b52399!8m2!3d19.6665573!4d-100.1430969?hl=es" target="_blank" class="text-muted">Av. Universidad S/N, Col. Las Tinajas, 50660 San José Del Rincón, San José Del Rincón, Estado de México.</a>
      </small> <br>
      <small class="text-muted"> <i class="bi bi-telephone"></i> (712) 2042852 </small> <br>
      <small><a href="mailto:siget@umb.mx" class="text-muted"><i class="bi bi-envelope"></i> siget@umb.mx</a></small>
    </div>
    <div class="col-md-3 mt-5 mb-5">
      <p>E N L A C E S</p>
      <hr>
      <p>
        <small><a href="http://umb.edomex.gob.mx" target="_blank" class="text-muted">umb.edomex.gob.mx <i class="bi bi-box-arrow-up-right"></i></a></small> <br>
        <small><a href="#" target="_blank" class="text-muted">aviso de privacidad <i class="bi bi-box-arrow-up-right"></i></a></small>
      </p>
    </div>
  </div>
</div>
