<div class="table-responsive mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Manual</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for modalidad in modalidades %}
                <tr>
                    <th scope="row">{{ modalidad.nombre }}</th>
                    <td>{{ modalidad.descripcion }}</td>
                    <td>
                        {% if modalidad.manual != 'default.pdf' %}
                            <div class="d-grid gap-2">
                                <a href="{{ url_for('static', filename='manual/'+modalidad.manual) }}" target="_blank" class="btn btn-outline-info">
                                    <i class="bi bi-file-earmark-arrow-down"></i>
                                </a>
                            </div>
                        {% else %}
                            <small>Sin manual</small>
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-modalidad-actualizar-{{ modalidad.id }}">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-modalidad-eliminar-{{ modalidad.id }}">
                            <i class="bi bi-trash3"></i>
                        </button>
                        {% include 'modalidades/actualizar-modalidad-modal.html' %}
                        {% include 'modalidades/eliminar-modalidad-modal.html' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>