<form action="{{ url_for('generaciones') }}" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="anio_inicio">Año de ingreso<b class="text-danger">*</b></label>
        <input type="number" name="anio_inicio" id="anio_inicio" class="form-control" min="1990"  max="2099" placeholder="1990" required>
    </div>
    <div class="mb-3">
        <label for="anio_final">Año de egreso<b class="text-danger">*</b></label>
        <input type="number" name="anio_final" id="anio_final" class="form-control" min="1990"  max="2099" placeholder="2099" required>
    </div>
    <div class="mb-3">
        <label for="foto">Fotografia generacional</label>
        <input class="form-control" type="file" name="foto" id="foto">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Registrar <i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="mb-3">
        <small><b class="text-danger">*</b>campo obligatorio.</small>
    </div>
</form>