<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/generacion/' + generacion.foto) }}" class="img-fluid rounded-start" alt="Foto generacional">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="card-text">
                    <strong>Generación {{ generacion.anio_inicio }} - {{ generacion.anio_final }}</strong>
                </div>
                <div class="card-text mt-3">
                    {% if session_type == 'user' %}
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#generacion-{{ generacion.id }}-modal"><i class="bi bi-pencil"></i> Editar</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-generacion-eliminar-{{ generacion.id }}"><i class="bi bi-trash"></i> Eliminar</button>
                    {% else %}
                        <p>
                            <b><small>{{ generacion.unidad.nombre }}</small></b><br>
                            <small>{{ generacion.carrera.nombre }}</small>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if session_type == 'user' %}
    {% include 'generaciones/generacion-eliminar-modal.html' %}
    {% include 'generaciones/generacion-update-modal.html' %}
{% endif %}